
.TakeRegister {  .list.list-inline ion-list > .item > .item-inner, .list.list-inline ion-list > .item:last-child {
    border-bottom: none;
}

   .list.list-inline ion-list{
        display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
    width: 100%;
    
    .item {   
        flex:1;
        font-size: inherit;  
        white-space: nowrap;
        text-overflow:  visible;
        
    }
    // .item:before,.item:after {
    //     content:"";
    //     display:table;
    // }
    // .item:after {
    //     clear:both;
    // }
    .item-radio {
        
        .item-content {
            padding: 12px;
            padding-right: 16px;
        }
        
        .radio-icon {
            padding: 5px
        }
    }
    
    .item-checkbox {
        padding-left: 44px;
        
        .checkbox {
            padding-left:0;
        }
    }
    }
    
    .list.list-inline ion-list .item {
         text-align: center;  
         
        
         .item-inner ion-item-content {
                white-space: normal;
         }
    }
}