.home {
    
    .center {
        text-align:center;
    }
    
    img[src='build/img/ps.png'] {
        width: 100px;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}