 
<ion-navbar *navbar>
  <button menuToggle>
   <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>New Session</ion-title>
</ion-navbar>


    <ion-content class="padding TakeRegister">    
       
<div *ngIf="selectedRegisterSession" padding>
    
  
      <ion-card>
  <ion-card-header>
      <ion-card-title>{{selectedRegister.registerNo}}<hr/></ion-card-title>
</ion-card-header>
  <ion-card-content>
    <h2 >{{selectedRegister.title}}</h2>
    <br/>
    
    <ion-item fixed-label>
    <ion-label>Date</ion-label>
    <ion-input type="text" [(ngModel)]="selectedRegisterSession.date"></ion-input>
  </ion-item>
  
   <ion-item fixed-label>
    <ion-label>Start Time</ion-label>
    <ion-input type="text" [(ngModel)]="selectedRegisterSession.startTime"></ion-input>
  </ion-item>
  
   <ion-item fixed-label>
    <ion-label>End Time</ion-label>
    <ion-input type="text" [(ngModel)]="selectedRegisterSession.endTime"></ion-input>
  </ion-item>
  

  </ion-card-content>
</ion-card>

          
  <ion-card>
  <ion-card-header>
      <ion-card-title>Rooms<hr/></ion-card-title>
</ion-card-header>
  <ion-card-content>
    <h2 >Room 1</h2><br/>
    <br/>
    
  
  </ion-card-content>
</ion-card>

            
<ion-card>
  <ion-card-header>
      <ion-card-title>Staff<hr/></ion-card-title>
</ion-card-header>
  <ion-card-content>
    <h2 >Staff 1</h2><br/>
    <h2 >Support Staff 1</h2><br/>
    <h2 >Support Staff 2</h2><br/>
    <br/>
    
  
  </ion-card-content>
</ion-card>
    

  </div>
 <div *ngIf="!selectedRegisterSession.marks" padding>
    <h2>No students</h2>
 </div>
    

  <div  *ngIf="selectedRegisterSession.marks">
    <ion-slides #ionSlides (change)="onSlideChanged($event)" pager loop="false" >
        <ion-slide *ngFor="#regMark of selectedRegisterSession.marks" >
                <img class="avatar center" [src]="regMark.student.thumbnail">
                <h2>{{regMark.student.firstForename}} {{regMark.student.surname}}</h2>
                <p>Last Attended: {{regMark.student.lastAttended ? regMark.student.lastAttended : 'N/A'}}</p>
                <p>Current Mark: {{regMark.markTypeID}}</p>
               
        </ion-slide>
    </ion-slides>    
    
    <ion-row center>
        <ion-col >
     <ion-list  no-lines radio-group [(ngModel)]="selectedRegisterMarkAsString" >
      <ion-item *ngFor="#mark of markTypes"  >
          <ion-label [ngClass]="{disabled: !mark.enabled || !mark.isAvailableWeb}" class="radioLabel text-center">{{mark.mark}}
              <br/> <div >{{mark.description}}</div>  
                   </ion-label>
      <ion-radio [ngClass]="{disabled: !mark.enabled || !mark.isAvailableWeb}" (click)="updateMark($event,mark,ionSlides)"  value="{{mark.markTypeID}}" >   </ion-radio> 
          </ion-item>
      </ion-list>
      </ion-col>
      </ion-row>

</div>
<div *ngIf="rules.length>0" padding>
    
   
 <ion-row>
     <ion-col width-50>
     <ion-list>
  <ion-list-header>
     <div class="button button-danger noclick">
       
        The following validation warnings have been generated:
    </div>
  </ion-list-header>
  
    <ion-item *ngFor="#br of rules"> 
        <ion-avatar item-left>
         <ion-icon name="alert" class=" icon-danger"></ion-icon>
        </ion-avatar>    
        
        <ion-label>{{br.message}}</ion-label>
        
    </ion-item>
    </ion-list>
    </ion-col>
  </ion-row>
 </div>
 
 <ion-row>
     <ion-col width-50>
 <ion-item>
    <ion-label>Set Form Valid</ion-label>
    <ion-toggle [(ngModel)]="togValid" ></ion-toggle>
  </ion-item>
  </ion-col>
  </ion-row>
<button *ngIf="selectedRegisterSession.marks" full (click)="save()">Save</button>

 
</ion-content>