
.TakeRegister {  
    
ion-radio {
    width:250px;
    float:left;
    text-align: center;
   
}

ion-content {
    background-color:rgb(244, 244, 247)
}

ion-card {
    text-align: center;
    width:30%;
    min-width:300px;
   display: inline-block;
   height:300px;
        }
}