 
<ion-navbar *navbar>
  <button menuToggle>
    <icon menu></icon>
  </button>
  <ion-title>New Session</ion-title>
</ion-navbar>


    <ion-content class="padding TakeRegister">    
          <h3>New Session</h3>
<div *ng-if="selectedRegister" padding>
  <ion-card>
  <ion-card-header>
      <h2>{{selectedRegister.registerNo}}</h2>
  </ion-card-header>
  <ion-card-content>
    <h4 >{{selectedRegister.title}}</h4>
    <br/>
   <label for="sessionDate">Date:</label>
    <input name="sessionDate" [(ng-model)]="ds.session.date" >
    <label for="sessionStart">Start Time:</label>
    <input name="sessionStart"  [(ng-model)]="ds.session.startTime" >
    <label for="sessionEnd">End Time:</label>
    <input name="sessionEnd"  [(ng-model)]="ds.session.endTime" >
    

  </ion-card-content>
</ion-card>

  </div>
  {{ds.session | json}}

 <div *ng-if="!ds.students" padding>
    <h2>No students</h2>
 </div>
    
    
  <ion-list *ng-if="ds.students">
  <ion-item *ng-for="#m of ds.marks" >
    {{m | json}}
    <br/>
    <ion-thumbnail item-left>
     <img [src]="m.student.thumbnail">
    </ion-thumbnail>
    <h2>{{m.student.firstName}} {{m.student.surname}}</h2>
    <h4>{{m.registerStudentID}}</h4>
    <p>Last Attended: {{m.student.lastAttended ? m.student.lastAttended : 'N/A'}}</p>
      <ion-list radio-group  [(ng-model)]="m.markTypeID">
      <ion-radio *ng-for="#mark of markTypes"  value="{{mark.markTypeID}}">{{mark.mark}} - {{mark.description}}</ion-radio>   
      </ion-list>
     
  </ion-item>

</ion-list>
<button *ng-if="ds.students" full (click)="save()">Save</button>

</ion-content>