 
<ion-navbar *navbar>
  <button menuToggle>
    <icon menu></icon>
  </button>
  <ion-title>New Session</ion-title>
</ion-navbar>


    <ion-content class="padding TakeRegister">    
          <h3>New Session</h3>
<div *ng-if="selectedRegisterSession" padding>
  <ion-card>
  <ion-card-header>
      <h2>{{selectedRegister.registerNo}}</h2>
  </ion-card-header>
  <ion-card-content>
    <h4 >{{selectedRegister.title}}</h4>
    <br/>
   <label for="sessionDate">Date:</label>
    <input name="sessionDate" [(ng-model)]="selectedRegisterSession.date" >
    <label for="sessionStart">Start Time:</label>
    <input name="sessionStart"  [(ng-model)]="selectedRegisterSession.startTime" >
    <label for="sessionEnd">End Time:</label>
    <input name="sessionEnd"  [(ng-model)]="selectedRegisterSession.endTime" >
    

  </ion-card-content>
</ion-card>

  </div>
 <div *ng-if="!selectedRegisterSession.marks" padding>
    <h2>No students</h2>
 </div>
    
    
  <ion-list *ng-if="selectedRegisterSession.marks">
  <ion-item *ng-for="#m of selectedRegisterSession.marks" >

    <br/>
    <ion-thumbnail item-left>
     <img [src]="m.student.thumbnail">
    </ion-thumbnail>
    <h2>{{m.student.firstForename}} {{m.student.surname}}</h2>
    <h4>{{m.registerStudentID}}</h4>
    <p>Last Attended: {{m.student.lastAttended ? m.student.lastAttended : 'N/A'}}</p>
     <div class="list list-inline">
     <ion-list radio-group  [(ng-model)]="m.markTypeID">
      <ion-radio *ng-for="#mark of markTypes"  value="{{mark.markTypeID}}">  
                 {{mark.mark}} <br/> {{mark.description}}                       
          </ion-radio> 
      </ion-list>
     </div>
  </ion-item>

</ion-list>
<button *ng-if="selectedRegisterSession.marks" full (click)="save()">Save</button>

</ion-content>